
html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  margin:25px;
}

.App {
  margin-top: 5vh;
  
}

.PokemonCard > img{
  height: 20%; 
  width: 50%;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.PokemonCard{
  width: 25vw;
  /* max-height: 60vh; */
  margin-left: 5vw;
  margin-right: 5vw;
  border: 5px solid black;
  text-align: center;
  padding: 2rem;
}

.Stats{
  width: 100%; 
  text-align: left;
}

.statValue{
  width: 60%; 
  background-color: #888;
}


.Cards{
  display: flex;
  margin-top: 5vh;
  align-items: center;
}